/** News Blog Template
========================== */
#news-blog-hero-image {
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid.news-logo {
  img {
    margin: 2.618em ;
  }
}

#news-header {
  h1 {
    font-size: 2rem;
  }
  margin: 3.618em auto;
  .row {
    height: 400px;
  }
  .featured-news-image {
    height: 100%;
    .img-responsive.news-featured-image {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.container-fluid.featured-post {
  padding-left: 35px;
  padding-right: 35px;
}

#news-blog-template {
  .well {
    margin-top: 1.618em;
  }
  padding-bottom: 5.618em !important;
  .the-author {
    margin-right: 1.618em;
  }
  .panel.panel-default {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    h2 {
      font-size: 1rem;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
  .panel-body {
    background-color: transparent;
    border: none;
    padding: 0 15px;
    .row {
      margin-top: 5.618em;
      align-items: center;
    }
  }
  .col-6 {
    width: 48%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    p {
      margin-bottom: 0;
    }
    p.author-date {
      margin: 0 0 1em 0;
    }
  }
}


/** News Template **/
.page-template-news-blog-template {
  .container-fluid.blog-posts {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #news-blog-template {
    h2,h3,p {
      color: $tfs_dark;
    }
    .container-fluid {
      margin-left: -15px;
      margin-right: -15px;
      padding: 0;
    }

    img.img-responsive {
      height: 438px;
      width: 100%;
      object-fit: cover;
    }
  }
}
.row.news-blog-template-wrap {
  margin: 0 0.5em;
}
#news-blog-template.container-fluid {
  padding: 0;
  background-color: $white;
}
.more-btn.row {
  margin: 0 0 0 0 !important;
  button {
    width: 100%;
  }
  .col-lg-12 {
    margin: 1.618em 0 0;
    padding: 0;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #news-header {
    margin: 3.618em auto;
    .row {
      height: auto;
    }
    .featured-news-image {
      height: auto;
      .img-responsive.news-featured-image {
        width: 100%;
        object-fit: initial;
        height: auto;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

